
li:not(:last-child) {
    margin-bottom: 1px; padding-bottom:0px;
}
ul {margin-left:1rem; padding-left:0px;}
ul ul {margin-left:-1rem; padding-left:0px;color:#c06060; list-style: none}
h1 {border-bottom:none; padding-bottom:0px; margin-bottom:0px}
h2 {border-top:none; padding-top:2rem; border-top:none}
h3 {border-top:solid 1px #c0c0c0; padding-top:1rem; font-size:110%
}
h4 {border-top:none; padding-top:1rem; text-align:right; border-top:none}
h5 {margin-top:0.25rem; padding-top:0px; font-size:145%; color:#40404080; margin-bottom:0.5rem}
h6 {padding:1rem; margin-top:0.5rem; padding-top:0.5rem; font-size:100%; color:#404040ff; font-style:italic; text-align:right; background-color:#c0c0c020; margin-bottom:0.5rem; padding-bottom:0.5rem;}
hr {border:dashed 1px #c0c0c0; height:0px;border-width:1;color:#802020; border-bottom:none; borderp-left:none; border-right:none; width:90%; 
}
